@import 'mixins';

.topic-tag {
    @include topic-tag;
    margin-right: 10px;
    margin-top: 3px;
    margin-bottom: 3px;
    text-decoration: none;
}

.selected {
    background-color: $main;
    color: white;
}
