@import 'variables';

.container {
    padding-top: 25px;
}

.post {
    &_item {
        padding-top: 5px;
        padding-bottom: 5px;
        padding-left: 15px;
        padding-right: 15px;
    }

    &_title {
        font-size: 28px;
        font-weight: bold;
        color: $main;
        text-decoration: none;
        margin-left: 5px;

        &:hover {
            color: $alternative;
        }
    }

    &_author {
        font-size: 20px;
        text-decoration: underline;
        margin-left: 15px;
        color: gray;
    }

    &_content {
        font-size: 16px;
        margin-top: 15px;
    }
}
