@import 'variables';

.container {
    padding-top: 25px;
}


.item {
    padding-top: 15px;
    padding-left: 15px;
    padding-right: 15px;

    hr {
        margin-top: 40px;
    }
}

.title {
    font-size: 40px;
    font-weight: bold;
    color: $main;
    text-decoration: none;
    margin-left: 5px;

    &:hover {
        color: $alternative;
    }
}

.author {
    font-size: 28px;
    text-decoration: underline;
    margin-left: 15px;
    color: gray;
}

.content {
    font-size: 20px;
    margin-top: 15px;
}

.tags {
    margin-top: 10px;
}
