<ng-container *ngIf="isLoading$ | async; else isLoaded">
   <sonab-loading></sonab-loading>
</ng-container>
<ng-template #isLoaded>
   <div class="container">
      <ng-container *ngIf="count > 0; else nothing">
         <div *ngFor="let post of data; let i = index"
              class="item">
            <a [routerLink]="['/post', post.id]"
               class="title">
               {{ post.title }}
            </a>
            <div class="author">
               {{ post.author }}
            </div>
            <div class="content">
               {{ post.content | slice:0:150 }}...
            </div>
            <div class="tags">
               <sonab-tag-list [tags]="post.tags"></sonab-tag-list>
            </div>
            <hr *ngIf="i + 1 !== limit">
         </div>
         <sonab-pagination [total]="count"
                           [limit]="limit"
                           [currentPage]="currentPage"
                           [url]="baseUrl"></sonab-pagination>
      </ng-container>
      <ng-template #nothing>
         <sonab-no-content></sonab-no-content>
      </ng-template>
   </div>
</ng-template>
