<sonab-loading *ngIf="(isLoading$ | async) && !postData"></sonab-loading>
<div *ngIf="postData"
     class="container">
    <div *ngIf="postData.isEditAllowed && !editData"
         class="d-flex justify-content-end buttons">
        <button type="button"
                class="btn btn-primary me-3"
                (click)="edit()">{{ 'Edit' | translate }}</button>
        <button type="button"
                class="btn btn-danger me-1"
                data-bs-toggle="modal"
                data-bs-target="#deleteModal">{{ 'Post.Delete' | translate }}</button>
    </div>
    <ng-container *ngIf="editData; else isView">
        <sonab-post-view-edit [editData]="editData"
                              (save)="saveChanges()"
                              (cancel)="cancel()"></sonab-post-view-edit>
    </ng-container>
    <ng-template #isView
                 class="view">
        <div class="view">
            <h1>{{ postData.title }}</h1>
            <div class="author">
                <div class="d-inline-block">
                    {{ postData.author }}
                </div>
                <sonab-post-view-subscription *ngIf="!postData.isEditAllowed"
                                              class="d-inline-block"
                                              [isSubscribed]="postData.isSubscribed"
                                              [publisherId]="postData.authorId"></sonab-post-view-subscription>
            </div>
            <div class="content">
                {{ postData.content }}
            </div>
        </div>
    </ng-template>
</div>

<!-- Modal -->
<div class="modal fade"
     id="deleteModal"
     tabindex="-1"
     aria-labelledby="deleteModalLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5"
                    id="deleteModalLabel">{{ 'Post.Delete' | translate }}</h1>
                <button type="button"
                        #closeButton
                        class="btn-close"
                        data-bs-dismiss="modal"
                        aria-label="Close"></button>
            </div>
            <div class="modal-body">
                {{ 'Post.Confirm' | translate }}
            </div>
            <div class="modal-footer">
                <button type="button"
                        class="btn btn-light"
                        data-bs-dismiss="modal">{{ 'Cancel' | translate }}</button>
                <button type="button"
                        class="btn btn-danger"
                        (click)="delete()">{{ 'Post.Delete' | translate }}</button>
            </div>
        </div>
    </div>
</div>
