<div class="mb-5">
    <label for="title"
           class="form-label">{{ 'Post.Title' | translate }}</label>
    <input type="text"
           class="form-control"
           [class.invalid]="!isTitleValid()"
           [(ngModel)]="editDataProps.title"
           id="title"
           name="title"
           required>
    <div *ngIf="!isTitleValid()"
         class="invalid">
        {{ 'Post.TitleLength' | translate }}
    </div>
</div>
<div class="mb-5">
    <label for="content"
           class="form-label">{{ 'Post.Content' | translate }}</label>
    <textarea type="text"
              class="form-control"
              [class.invalid]="!isContentValid()"
              [(ngModel)]="editDataProps.content"
              id="content"
              name="content"></textarea>
    <div *ngIf="!isContentValid()"
         class="invalid">
        {{ 'Post.ContentLength' | translate }}
    </div>
</div>
<div class="mb-5">
    <sonab-tag-edit [init]="editDataProps.tags"
                    (setTags)="setTags($event)"></sonab-tag-edit>
</div>
<div class="submit d-flex justify-content-end">
    <button type="button"
            class="btn btn-light me-3"
            (click)="cancel()">{{ 'Cancel' | translate }}</button>
    <button type="button"
            class="btn btn-success me-1"
            (click)="saveChanges()">{{ 'Save' | translate }}</button>
</div>
