/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';

/* Importing angular-notifier SCSS file. */
@import '../node_modules/angular-notifier/styles';

/* Importing ng-select SCSS file */
@import "~@ng-select/ng-select/themes/default.theme.css";

// App buttons
@import 'assets/styles/variables';
@import 'assets/styles/mixins';

.btn-main {
    background-color: $main;
    color: white;

    &:hover{
        background-color: $main_dark;
        color: white;
    }
}

.btn-alternative {
    background-color: $alternative;
    color: black;

    &:hover{
        background-color: $alternative_light;
        color: black;
    }
}
