@import 'variables';

@mixin topic-tag {
    display: inline-block;
    background-color: $alternative;
    color: black;
    font-size: 18px;
    border-radius: 20px;
    padding-top: 2px;
    padding-bottom: 5px;
    padding-left: 15px;
    padding-right: 15px;
    transition: 0.6s all;

    &:hover {
        box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    }
}
