@import 'variables';

.bg-cyan {
    background-color: $main;
}

select {
    margin-right: 10px;
    background-color: $main;
    border-width: 0px;
    outline: 0px;
    color: #f8f9fa;
    border-radius: 6px;
}

img {
    height: 30px;
    border-radius: 15px;
}

.nickname {
    display: inline-block;
    margin-left: 5px;
    vertical-align: middle;
}
