<nav class="navbar navbar-dark navbar-expand-lg bg-cyan">
    <div class="container-fluid">
        <a class="navbar-brand"
           routerLink="/">Sonab</a>
        <button class="navbar-toggler"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent"
                aria-expanded="false"
                aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse"
             id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link"
                       routerLinkActive="active"
                       ariaCurrentWhenActive="page"
                       routerLink="/post/all">{{ 'Nav.Home' | translate }}</a>
                </li>
                <li *ngIf="isAuthenticated$ | async"
                    class="nav-item">
                    <a class="nav-link"
                       routerLinkActive="active"
                       ariaCurrentWhenActive="page"
                       routerLink="/post/user">{{ 'Nav.User' | translate }}</a>
                </li>
                <li *ngIf="isAuthenticated$ | async"
                    class="nav-item">
                    <a class="nav-link"
                       routerLinkActive="active"
                       ariaCurrentWhenActive="page"
                       routerLink="/post/create">{{ 'Nav.New' | translate }}</a>
                </li>
            </ul>
            <div class="d-flex">
                <select name="lang"
                        id="lang"
                        [(ngModel)]="currentLanguage"
                        (change)="useLanguage()">
                    <option *ngFor="let lang of languages"
                            (value)="lang"
                            [selected]="currentLanguage === lang">{{ lang }}</option>
                </select>
                <ng-container *ngIf="isAuthenticated$ | async; else unAuthenticated">
                    <button class="btn btn-outline-light"
                            type="button"
                            (click)="handleLogout()">{{ 'User.Logout' | translate }}</button>
                </ng-container>
                <ng-template #unAuthenticated>
                    <button class="btn btn-outline-light"
                            type="button"
                            (click)="handleLogin()">{{ 'User.Login' | translate }}</button>
                </ng-template>
            </div>
        </div>
    </div>
</nav>
