$main: #167e9d;

.bg-cyan {
    background-color: $main;
}

select {
    margin-right: 10px;
    background-color: $main;
    border-width: 0px;
    outline: 0px;
    color: #f8f9fa;
    border-radius: 6px;
}
